
<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
    .test{background: #00263A; display: inline-block; width: 20%; padding: 15px;margin-top: 15px; border-radius: 10px;color: #ffffff; margin-bottom: 20px;}
    a{font-size:"Open sans";text-decoration: none; color: #ffffff;}
    </style>
</head>
		<div class="mb-5">
			<h1 class="text-center">Expiration Tickets WEB Shebam</h1>
			<hr>
			<div class="mb-5"></div>
            <p>Bonjour la team SHEBAM !</p>
            <p>Un / des client(s) arrive(nt) dans 3 mois à la fin de leur(s) ticket(s) WEB Shebam !</p>
            <p>Voici la liste: </p>
            {% for ticket in tickets %}
            <div class="test">
                <p>Nom: {{ticket.customer}}</p>
                <p>Date de début de contact: {{ ticket.startdate|date('d-m-y') }}</p>
                <p>Date de fin de contact: {{ ticket.enddate|date('d-m-y') }}</p>
                <p>Lien: <a href="{{ticket.link}}" target="new">Clique moi</a></p>
            </div>
            {% endfor %}
            <p>Ne pas oublier de rénouveller et/ou de demander au client son choix</p>
            <p>Bonne journée.</p>
            <p>Le Support WEB SHEBAM</p>
		</div>
</html>