{% extends 'base.html.twig' %}

{% block content %}
<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{%  block title %}Accueil - {% block title_base %}{{ parent() }}{% endblock %}{% endblock %}</title>
    </style>
</head>
	{% block body %}
	<div class="container">
		<div class="mb-5">
		<h1 class="text-center color-blue-dark-shebam mb-3">Liste des Rappels</h1>
		<h4 class="text-center color-blue-dark-shebam mb-3">Choisir la rubrique qui t'intéresse</h4>
		<hr style="margin-bottom: 150px;">
		<div class="mb-5">

		<div class="row">
			<div class="col">
				<div class="card text-center">
					<div class="card-header">Plugins</div>
					<div class="card-body">
						<p class="card-text">Découvrez la liste des plugins achetés</p>
						<p class="card-text">Nombre de plugins: </p>
					</div>
					<div class="card-footer text-muted">
						<a href="{{ path('plugins') }}" class="btn bg-blue-dark-shebam color-white-shebam">En savoir plus</a>
					</div>
				</div>			
			</div>
			<div class="col">
				<div class="card text-center">
					<div class="card-header">Contrats Mensuels</div>
					<div class="card-body">
						<p class="card-text">Découvrez la liste des contrats mensuels</p>
						<p class="card-text">Nombre de contrat mensuel: </p>
					</div>
					<div class="card-footer text-muted">
						<a href="{{ path('monthscontracts') }}" class="btn bg-blue-dark-shebam color-white-shebam">En savoir plus</a>
					</div>
				</div>			
			</div>
			<div class="col">
				<div class="card text-center">
					<div class="card-header">Contrats Tickets</div>
					<div class="card-body">
						<p class="card-text">Découvrez la liste des plugins achetés</p>
						<p class="card-text">Nombre de plugins: </p>
					</div>
					<div class="card-footer text-muted">
						<a href="{{ path('yearscontracts') }}" class="btn bg-blue-dark-shebam color-white-shebam">En savoir plus</a>
					</div>
				</div>		
			</div>
		</div>
	</div>
	{% endblock %}
</html>
{%  endblock %}