{% extends 'base.html.twig' %}

{% block content %}
<!doctype html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Contrats Mensuels  - {% block title_base %}{{ parent() }}{% endblock %}{% endblock %}</title>
    </style>
</head>
{% block body %}
<div class="mb-5">
    <h1 class="text-center color-blue-dark-shebam mb-3">Liste des Contrats Mensuels</h1>
    <hr>
    <div class="mb-5"></div>

</div>
{% endblock %}

</html>
{% endblock %}